@use "@/styles/colors.scss";
@use "@/styles/variables.scss";

#dropdown, #sub-dropdown {
    background-color: colors.$dropdown-item-bg-light;
    border: 1px solid colors.$dropdown-border-color-light;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    max-height: 0;
    z-index: 1;
    &[data-show] {
        display: flex;
        flex-direction: column;
        min-width: min-content;
        max-height: 100%;
    }
    .removed {
        display: none !important;
    }
    // Dropdown Item
    .dropdown__item {
        all: unset;
        padding: 12px;
        cursor: pointer;
        color: colors.$dropdown-item-text-light;
        background-color: colors.$dropdown-item-bg-light;
        &:hover {
            background-color: colors.$dropdown-hover-bg-light;
        }
        &:focus-visible {
            outline: 1px solid colors.$primary;
            outline-offset: -1px;
        }
        &:has(svg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            svg {
                color: inherit;
            }
        }
        &:has(p) {
            gap: 12px;  
        }
        &:active {
            background-color: colors.$dropdown-active-bg-light;
        }
        .text-container {
            display: flex;
            flex-direction: column;
            p {
                font-size: 12px;
                margin: 0;
                margin-right: auto;
                user-select: none;
            }
            .secondary-text {
                font-size: 10px;
            }
        }
        &[role=disabled] {
            pointer-events: none;
            opacity: 0.6;
            &:focus-visible {
                background-color: none;
            }
        }
        .subdropdown-icon {
            transform: rotate(-90deg);
            transition: all 0.15s;
            
        }
        .subdropdown-icon[dropdown-open=true] {
            transform: rotate(90deg);
        }
    }
    .dropdown__item--selected {
        background-color: colors.$dropdown-item-selected-light;
        &:hover &:active {
            background-color: colors.$dropdown-item-selected-light;
        }
    }
    // Dropdown Divider
    .divider {
        width: 90%;
        height: 1px;
        background-color: colors.$dropdown-divider-light;
        margin: 0 auto;
    }

    // Dropdown Filter
    .dropdown__filter {
        color: colors.$dropdown-item-text-light;
        background-color: colors.$dropdown-item-bg-light;
        &[role=disabled] {
            pointer-events: none;
            opacity: 0.6;
            &:focus-visible {
                background-color: none;
            }
        }
        .dropdown__filter--checkbox {
            width: 10px;
            height: 10px;
            background-color: colors.$dropdown-item-bg-light;
            border-radius: 4px;
            border: 1px solid black;
        }
        svg {
            color: inherit;
        }
        .checkbox__item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 12px;
        }
        
        .color__item, .container__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 12px;
        }
        .color__item {
            div {
                border-radius: 50%;
                width: 14px;
                height: 14px;
                border: 0.5px solid colors.$dropdown-item-selected-dark;
            }
        }
        .container__item {
            border: 1px solid black;
        }
        .color__item, .container__item, .checkbox__item {
            cursor: pointer;
            &:hover, :active {
                background-color: colors.$dropdown-item-selected-light;
            }
            &:focus-visible {
                outline: 1px solid colors.$primary;
                outline-offset: -1px;
            }
        }
        .color__item, .container__item {
            width: 100%;
        }
    }
    .dropdown__filter--selected {
        .checkbox__item, .color__item, .container__item {
            background-color: colors.$dropdown-item-selected-light;
        }
    }
}
#dropdown:has(.container__item) {
    padding: 4px;
}

#dropdown:has(.container__item), #dropdown:has(.color__item) {
    &[data-show] {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        color: rgba(255, 0, 0, 0.4);
    }
    .dropdown__filter {
        flex: 0 1 30%;
        display: flex;
        justify-content: center;
        .container__item {
            flex-wrap: wrap;
            padding: 0;
            span {
                text-align: center;
                padding: 4px;
            }
        }
        .color__item {
            display: flex;
            gap: 8px;
            padding: 12px;
        }
    }
}

.dropdown--input {
    width: 200px;
}

.dropdown__filter--container {
    .dropdown__input--container {
        display: flex;
        flex-direction: column;
        .dropdown__input--label {
            color: colors.$primary;
            font-size: 12px;
        }
        .input-container {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 4px;
            border: 1px solid colors.$secondary-900;
            transition: all 0.15s;
            &:focus-within {
                border-color: colors.$primary;
            }
            #dropdown__input--input {
                all: unset;
                width: 70%;
                border-radius: 4px;
                padding: 8px 12px;
                font-size: 12px;
            }
            .dropdown__input--button {
                all: unset;
                position: absolute;
                right: 10px;
                top: calc(50% - 8px);
                svg {
                    cursor: pointer;
                    transition: transform 0.15s ease-in-out;
                }
                .dropdown-active {
                    transform: rotate(-180deg);
                  }
            }
            .remove-input {
                position: absolute;
                right: 20px;
                cursor: pointer;
                padding: 0 12px;

            }
        }
    }
}

body.dark {
    #dropdown {
        background-color: colors.$dropdown-item-bg-dark;
        border-color: colors.$dropdown-border-color-dark;

        // Dropdown Item
        .dropdown__item, .dropdown__filter {
            color: colors.$dropdown-item-text-dark;
            background-color: colors.$dropdown-item-bg-dark;
            &:hover {
                background-color: colors.$dropdown-hover-bg-dark;
            }

            &:active {
                background-color: colors.$dropdown-active-bg-dark;
            }
            &:focus-visible {
                outline: 1px solid colors.$secondary;
            }
        }
        .color__item {
            div {
                border-color: colors.$dropdown-item-selected-light;
            }
        }
        .dropdown__item--selected, .dropdown__filter--selected {
            background-color: colors.$dropdown-item-selected-dark;
            &:hover, &:focus-visible, &:active {
                background-color: colors.$dropdown-item-selected-dark;
            }
        }
        
        // Dropdown Divider
        .divider {
            background-color: colors.$dropdown-divider-dark;
        }
    }
    .dropdown__filter--container {
        .dropdown__input--container {
            .dropdown__input--label {
                color: colors.$secondary;
            }
            svg {
                color: colors.$secondary-900;
            }
            .input-container {
                border-color: colors.$secondary-900;
                &:focus-within {
                    border-color: colors.$secondary-900;
                }
                #dropdown__input--input {
                    color: #fff;
                }
            }
        }
    }
}