@use "@/styles/colors.scss";
@use "@/styles/variables.scss";

#dropdown {
    border: 1px solid colors.$secondary-hover;
    border-radius: 4px;
    display: none;
    max-height: 0;
    &[data-show] {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 100%;

    }
  }


// Dropdown Item
.dropdown__item {
padding: 0 12px;
cursor: pointer;
&:hover {
    background-color: colors.$primary-300;
    color: map-get(colors.$text-colors, strong-light);
}
&:has(svg) {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
        color: inherit;
    }
}
&:active {
    background-color: colors.$primary;
    color: map-get(colors.$text-colors, strong-light);
}
p {
    user-select: none;
}
}

// Dropdown Divider
.divider {
    width: 80%;
    height: 2px;
    background-color: colors.$primary-100;
    margin: 0 auto;
}