@use "@/styles/font-system.scss";
@use "sass:color";
@use "@/styles/colors.scss";
@use "@/styles/variables.scss";

@each $name, $bg in colors.$bg-colors {
  .badge--#{$name} {
    @if (str-index($name, "secondary")) {
      color: map-get(colors.$text-colors, strong-dark);
    } @else {
      color: map-get(colors.$text-colors, strong-light);
    }
    font-family: variables.$primaryFontFamily;
    width: fit-content;
    padding: 8px 16px;
    background-color: $bg;
    border-radius: 28px;

    &:has(svg) {
      display: flex;
      align-items: center;
      padding-left: 0;
      svg {
        color: inherit;
        padding: 0 8px;
      }
    }
  }
  .badge--#{$name}__outline {
    @if (str-index($name, "secondary")) {
      color: map-get(colors.$text-colors, light-light);
    } @else {
      color: $bg;
    }
    border: 1px solid $bg;
    background-color: color.adjust($bg, $alpha: -0.9);
    &:has(svg) {
      svg {
        color: inherit;
        padding: 0 8px;
      }
    }
  }
}
