%extend badge-small {
  &:has(svg) {
    display:flex;
      padding-left: 0;
      svg {
        padding: 0 8px;
      }
    }
    padding:16px;
    border-radius: 13px;
    background-color: #003349;
}

