$surface: #ffffff;
$background: #f5f7f9;
$overlay: #f6f8fa;

$primary: #003349;
$secondary: #e6ebed;
$danger: #dc3545;
$warning: #faa05a;
$success: #55c284;

$primary-100: #E6EBED;
$primary-300: #668592;
$primary-400: #003349;
$primary-700: #002737;
$primary-900: #000507;
$primary-hover: #296C89;
$secondary-100: #f8f9fa;
$secondary-300: #ebeff1;
$secondary-400: #e6ebed;
$secondary-700: #cfd4d5;
$secondary-900: #a1a5a6;
$danger-100: #ea868f;
$danger-300: #e35d6a;
$danger-500: #dc3545;
$danger-700: #b02a37;
$danger-900: #64141b;
$warning: #faa05a;
$success: #55c284;
$primary-dark-hover: #005E71;
$primary-dark-rest: #009CBD;
$secondary-hover: #B8CAD1;
$secondary-dark-rest: #ffffff0a;
$secondary-dark-outline: #ffffffde;
$secondary-dark-hover: #ffffff1f;
$ghost-hover: #F9F9F9;
$ghost-dark-hover: #ffffff14;
$primary-disabled: #F3F3F3;
$primary-dark-disabled: #ffffff61;

$primary-text-disabled: #A9A9A9;
$primary-text-dark-disabled: #ffffff61;

// Body colors
$primary-bg-light: #F6F8FA;
$primary-bg-dark: #1F252F;

// Chip
// Light
// Input
$chip-text-light: #003349;
$chip-default-bg-light: #E6EBED;
$chip-default-hover-light: #D0D9DD;
$chip-default-active-light: #D0D9DD;
$chip-default-border-light: #0000001a;

$chip-outline-bg-light: transparent;
$chip-outline-hover-light: #EBEFF1;
$chip-outline-active-light: #cacfd1;
$chip-outline-border-light: #003349;

$chip-selected-light: #0033491a;

// Filter
$chip-filter-bg-light: transparent;
$chip-filter-hover-light: #E6EBED;
$chip-filter-active-light: #D0D9DD;
$chip-filter-border-light: #003349;

// ---- WIP not in figma ---
// $chip-filter-hover-border-light: rgba(255, 255, 255, 0.38);
// $chip-filter-active-border-light: rgba(255, 255, 255, 0.38);

// Dark
// Input 
$chip-text-dark: #ffffffde;
$chip-default-bg-dark: #373C43;
$chip-default-hover-dark: #40464E;
$chip-default-active-dark: #40464E;
$chip-default-border-dark: #ffffff61;

$chip-outline-bg-dark: transparent;
$chip-outline-hover-dark: #EBEFF1;
$chip-outline-active-dark: #4B525B;
$chip-outline-border-dark: #ffffff61;;

// Filter
$chip-filter-bg-dark: transparent;
$chip-filter-hover-dark: #373C43;
$chip-filter-active-dark: #4B525B;
$chip-filter-border-dark: #ffffff33;
$chip-filter-hover-border-dark: #ffffff61;
$chip-filter-active-border-dark: #ffffff61;

$chip-selected-dark: #373C43;

//bg colors
$bg-colors: (
  primary: #003349,
  secondary: #e6ebed,
  danger: #dc3545,
  warning: #faa05a,
  success: #55c284,
);


//text colors
// <--- WIP --->
$text-colors: (
  strong-dark: #212121,
  medium-dark: #595959,
  light-dark: #afafaf,
  strong-light: #fafbfb,
  medium-light: #c0cdd2,
  light-light: #3e6f84,
  disabled: #8799a1,
  active: #4dd1bb,
  rest: #00b0d4,
  danger: #dc3545,
  secondary-light: #002737,
);


$button-border-colors: (
  danger-outline: $primary-100,
  primary: $primary-100,
  danger: $primary-100,
  secondary: $primary-400,
  ghost: $primary-400,
);

$button-hover-colors: (
  danger-outline: $danger-500,
  primary: $primary-hover,
  secondary: $secondary-hover,
  danger: $danger-900,
  ghost: $ghost-hover,

);

$button-bg-colors: (
  primary: $primary-400,
  danger: $danger-500,
  secondary: $primary-100,
  danger-outline: transparent,
  ghost: transparent,
);


$dark-button-border-colors: (
  //fix
  danger-outline: $danger-500,
  primary: $primary-100,
  danger: $primary-100,
  secondary: $secondary-dark-outline,
  ghost: $ghost-dark-hover,
);


$dark-button-hover-colors: (
  danger-outline: $danger-500,
  primary: $primary-hover,
  secondary: $secondary-dark-hover,
  danger: $danger-700,
  ghost: $ghost-dark-hover,
);


$dark-button-bg-colors: (
  primary: $primary-dark-rest,
  danger: $danger-500,
  secondary: $secondary-dark-rest,
  danger-outline: transparent,
  ghost: transparent,
);




$disabled: (
  primary: $primary-disabled,
  danger: $primary-disabled,
  danger-outline: transparent,
  secondary: transparent,
  ghost: transparent,
);

$dark-disabled: (
  primary: transparent,
  danger: $primary-disabled,
  danger-outline:transparent,
  secondary: transparent,
  ghost: transparent,
);


$disabled-text-colors: (
  primary: #A9A9A9,
  danger: #A9A9A9,
  danger-outline: #C4C4C4,
  secondary: #C4C4C4,
  ghost: #C4C4C4,
);




// Icon colors
$icon-colors: join($bg-colors, $text-colors, auto);