$surface: #ffffff;
$background: #f5f7f9;
$overlay: #f6f8fa;

$primary: #003349;
$secondary: #e6ebed;
$danger: #dc3545;
$warning: #faa05a;
$success: #55c284;

// Body colors
$primary-bg-light: #F6F8FA;
$primary-bg-dark: #1F252F;

// Chip
// Light
$chip-bg-light: #E6EBED;
$chip-hover-light: #D0D9DD; // Hover and pressed light default
$chip-hover-light-outline: rgba(0, 0, 0, 0.1); // Default outline light hover and pressed

$chip-hover-outline-light: #003349;

$chip-active-light: rgba(0, 51, 73, 0.1);

// Dark 
$chip-color-dark: rgba(255, 255, 255, 0.87);
$chip-bg-dark: #373C43;
$chip-hover-dark: #40464E; // Hover and pressed dark default

$chip-active-dark-outline: rgba(255, 255, 255, 0.38); // Default outline dark hover and pressed

$chip-hover-outline-dark: rgba(255, 255, 255, 0.38);


//bg colors
$bg-colors: (
  primary: #003349,
  secondary: #e6ebed,
  danger: #dc3545,
  warning: #faa05a,
  success: #55c284,
);

// primary-100: #e6ebed,
// primary-300: #668592,
// primary-400: #003349,
// primary-700: #002737,
// primary-900: #000507,
// secondary-100: #f8f9fa,
// secondary-300: #ebeff1,
// secondary-400: #e6ebed,
// secondary-700: #cfd4d5,
// secondary-900: #a1a5a6,
// danger-100: #ea868f,
// danger-300: #e35d6a,
// danger-500: #dc3545,
// danger-700: #b02a37,
// danger-900: #64141b,
// warning: #faa05a,
// success: #55c284

//text colors
// <--- WIP --->
$text-colors: (
  strong-dark: #212121,
  medium-dark: #595959,
  light-dark: #afafaf,
  strong-light: #fafbfb,
  medium-light: #c0cdd2,
  light-light: #3e6f84,
  disabled: #8799a1,
  active: #4dd1bb,
  rest: #00b0d4,
);

// Icon colors
$icon-colors: join($bg-colors, $text-colors, auto);
