$Surface: #ffffff;
$Background: #f5f7f9;
$Overlay: #f6f8fa;

$Primary: #003349;
$Secondary: #e6ebed;
$Danger: #dc3545;
$Warning: #faa05a;
$Success: #55c284;



//primary
$Primary-map: (
  100: #e6ebed,
  300: #668592,
  400: #003349,
  700: #002737,
  900: #000507,
);
$Primary-100: #e6ebed;
$Primary-300: #668592;
$Primary-400: #003349;
$Primary-700: #002737;
$Primary-900: #000507;
// Secondary

$Secondary-map: (
  100: #f8f9fa,
  300: #ebeff1,
  400: #e6ebed,
  700: #cfd4d5,
  900: #a1a5a6,
);
$Secondary-100: #f8f9fa;
$Secondary-200: #ebeff1;
$Secondary-500: #e6ebed;
$Secondary-700: #cfd4d5;
$Secondary-900: #a1a5a6;

//Danger
$Danger-map:(
    100: #ea868f,
    300: #e35d6a,
    400: #dc3545,
    700: #b02a37,
    900: #64141b
);
$Danger-100: #ea868f;
$Danger-200: #e35d6a;
$Danger-500: #dc3545;
$Danger-700: #b02a37;
$Danger-900: #64141b;

//text colors
//first
$Text-Strong-dark: #212121;
$Text-Medium-dark: #595959;
$Text-Light-dark: #afafaf;

//second
$Text-Strong-light: #fafbfb;
$Text-Medium-light: #c0cdd2;
$Text-Light-light: #3e6f84;

//third
$Text-Disabled: #8799a1;
$Text-Active: #4dd1bb;
$Text-Rest: #00b0d4;
