body.dark .docs-story {
  background-color: var(--surface) !important;
  
}

body.dark .story-info {
  color: #F6F8FA;
}
body.dark .sbdocs-wrapper {
  background-color: var(--light) !important;
  
}
/* body.dark h2, body.dark div{
  border-color: var(--border-color);
} */
body.dark .docs-story > div:last-child {
  background-color: var(--overlay-2);
  
}

body {
  overflow: scroll !important;
  
}
body::-webkit-scrollbar-track, body::-webkit-scrollbar {
  background-color: unset !important;
  
}

/* Color swatches */
.css-2qy8by {
  padding-right: 8px;
}

/* Docs page */

body.dark .sbdocs-wrapper .css-1fqqvvq, body.dark .css-tm6i3o.css-tm6i3o tbody tr:not(:first-child), body.dark .css-tmvzag {
  border-color: #F6F8FA;
  color: #F6F8FA;
  background-color: #1F252F;
}
body.dark .sbdocs-wrapper .css-1fqqvvq, body.dark .sbdocs-wrapper .css-tm6i3o.css-tm6i3o tbody td {
  background-color: var(--surface);
}
body.dark .sbdocs-wrapper .css-qyimxq, body.dark .sbdocs-wrapper .css-11nj37o, body.dark .css-11nj37o~td {
  background-color: var(--overlay-2) !important;
}
body.dark .sbdocs-wrapper .docblock-argstable span {
  color: var(--onsurface-strong);
}
body.dark .sbdocs-wrapper .css-3ltsna, body.dark .sbdocs-wrapper .css-16muzfc code, body.dark .sbdocs-wrapper .css-ks2jcn, body.dark .sbdocs-wrapper .css-1h8u63y, body.dark .sbdocs-wrapper .css-ks2jcn,
body.dark .sbdocs-wrapper .css-141ccx4, body.dark .sbdocs-wrapper .css-1aszhj9, body.dark .sbdocs-wrapper .css-18i8gz1, body.dark .sbdocs-wrapper .css-1o58ns1, body.dark .css-1bwv4zc  {
  background-color: var(--overlay-1);
  color: var(--onsurface-medium);
  border-color: var(--border-color);
}
/* Color palette Docs */
body.dark {
  .docblock-colorpalette{
    .css-syxe49{
      // Table head
      color: var(--onsurface-medium);
    }
    .css-1cic1f4{
      // Heading
      color: var(--onsurface-strong);
    }
    .css-1nkxwxu{
      // Subtitle
      color: var(--onsurface-medium);
    }
    .css-1xrb7qh{
      // Text under swatch
      color: var(--onsurface-low);
    }
    .css-wk618k{
      // Swatchbox
      background-image: unset!important;
      background-color: var(--surface);
    }
  }
  p {
    color: #fff;
  }
  .sbdocs-wrapper {
    .css-z9ai3{
      color: #F6F8FA;
    }
    .css-idch3x {
      // H2 heading
      border-color: var(--border-color);
      color: #F6F8FA;
    }
    .css-1p8ieni {
      color: #F6F8FA;
    }
    .css-1p8ieni code {
      //Small codesnippets ``
      background-color: white;
      color: #1F252F;
      border-color: var(--border-color);
    }

    .css-63ne3z {
      // Stories header
      color: #F6F8FA;
    }

    .sbdocs-h3{
      // Stories sub-header
      color: #F6F8FA;
    }
    .css-1bwv4zc {
      // Docblock down icon
      color: #F6F8FA;
    }

    .docblock-argstable span {
      // Docblock props
      color: #F6F8FA;
    }

    .css-1h8u63y {
      // Docblock select
      background-color: #F6F8FA;
      color: #1F252F;
    }

    .css-bdtlhc {
      // Docs editor
      background-color: #2c3749;
      border: 1px solid #F6F8FA;
    }
    .token.operator,  .token.operator ~ span {
      // Editor comment
      color: #548948;
    }

    span.token.tag, .token.tag.punctuation {
      // Editor component
      color: #46C596;;
    }

    .token.tag.attr-name {
      // Editor prop name
      color: #5BB5F7;
    }
    
    .token.tag.attr-value, .token.string {
      // editor string
      color: #BF6435 !important;
    }
    .token.tag.attr-equals {
      // editor equal sign
      color: white !important;
    }
  }
  }
