@use "@/styles/colors.scss";
@use "@/styles/variables.scss";

.chip {
  height: 100%;
  user-select: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: variables.$primaryFontFamily;
  width: fit-content;
  transition: background-color 300ms,  outline-color 300ms;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  &:has(svg) {
    display: flex;
    gap: 8px;
    align-items: center;
    svg {
      color: inherit;
    }
  }
}

.chip[role=button] {
  cursor: pointer;
}

.chip[role=disabled] {
  pointer-events: none;
  opacity: 0.6;
}

.chip--dropdown {
  position: relative;
}

body { 
  .chip {
    background-color: colors.$chip-bg-light;
    color: map-get(colors.$bg-colors, primary);
    &:hover {
      background: colors.$chip-hover-light;
      outline-color: colors.$chip-hover-light-outline;
    }
    &:active {
      background: colors.$chip-active-light;
      outline-color: colors.$chip-hover-light-outline;
    }
  }
  
  .chip__outline {
    background-color: transparent;
    outline-color: colors.$chip-hover-outline-light;
  }
  .chip--filter {
    background-color: transparent;
    outline-color: colors.$chip-hover-outline-light;
    &:hover {
      background-color: colors.$chip-bg-light;
    }
    &:active {
      background-color: colors.$chip-hover-light;
    }

  }
  .chip--input {
    outline: none;
    &:active {
      background: colors.$chip-hover-light;
    }
  }
  .chip--selected {
    background-color: colors.$chip-hover-light;
    outline: none;
  }
}

body.dark {
  .chip {
    background-color: colors.$chip-bg-dark;
    color: colors.$chip-color-dark;
    &:hover, &:active {
      background-color: colors.$chip-hover-dark;
      outline-color: colors.$chip-hover-outline-dark;
    }
  }
  .chip__outline {
    outline-color: colors.$chip-hover-outline-dark;
  }
  
  .chip--filter {
    background-color: transparent;
    outline-color: colors.$chip-hover-outline-dark;
    &:hover {
      background-color: colors.$chip-bg-dark;
    }
    &:active {
      background-color: colors.$chip-dark-input-active;
    }
  }

  .chip--input {
    &:active {
      background-color: colors.$chip-dark-input-active;
    }
  }
  .chip--selected {
    background-color: colors.$chip-bg-dark;
    outline: none;
  }
}
